# Local
.DS_Store
*.local
*.log*
.env
.env.production
bench-results*.json

# Dist
node_modules
dist/
storybook-static
.astro/
.vitest-attachments/
__screenshots__/

# IDE
.vscode
!.vscode/extensions.json
.idea

# Coverage
/coverage

# cf
.wrangler
.dev.vars
